page-login {
    ion-title {
        color: #191A45;
    }
    .toolbar-background-md {
        border-color: #ffffff;
        background: #ffffff;
    }
    .toolbar-title-md{
        font-size: 14px;
        font-family: "PoppinsMedium";
    }

    .item-md
    {
        border: 1px solid #D7D7D7 !important;
         padding-left: 0px !important; 
        color: #46476A;
        background-color: #fff;
        font-size: 14px !important;
        border-radius: 6px;
    }
    
    .contenttittle
    {
        font-size: 18px;
        color:#191A45;
        font-family: "PoppinsMedium";
      
    }
    .content-md {
        color: #191A45;
        background-color: #f9fbfc;
    }
   
    .col-12-tittle{
        font-size: 14px;
        font-family: "SourceSansProSemibold";
        color: #191A45;
    }
    .button-outline-md {
        width: 100%;
    }
    .row-mtop{
        margin-top: 12px; 
    }
    .toolbar-title-md {
        padding: 0 12px;
        font-size: 14px;
        font-weight: bold;
        color: #191A45;
    }
    .p-f16
    {
        font-size: 16px;
        font-family: "SourceSansProSemibold";
    }
    .scroll-content{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .gridcl{
        padding-left: 24px !important;
        padding-right: 24px !important;  
    }
    a {
        color: #3096F7;
        text-decoration: underline;
        font-size: 14px;
    }
    p{
        color: #191A45; 
        font-size: 14px;
    }
    .button-md{
        font-family: "PoppinsSemibold"; 
    }

    .item-md.item-block .item-inner {
        border-bottom: none !important;
    }
    .button-md {
        box-shadow:none;
        -webkit-box-shadow:none;
      }

      .div-footer{
        border-top: 1px solid #e7e6e6;
        margin-top: 58px;
         background: #fff;
        font-family: "SourceSansProSemibold";
    }
    .a-tittle{ 
        color: #2699FB;
        text-decoration: none;
    } 

}
