<!--
  Generated template for the SearchservicePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-header no-shadow no-border>
    <ion-navbar hideBackButton="true">  
        <ion-buttons left menuToggle="left" style="display: block !important;">  
                  <button ion-button icon-only>
                              <img class="img-menu" src="assets/imgs/menuicons/Menu.png"> 
                  </button>
                </ion-buttons>

    <ion-title text-center>Search service</ion-title> 

    <ion-buttons end>  
          <button ion-button icon-only>
            <img  class="img-chat" src="assets/imgs/menuicons/chat.png">
          </button>
  </ion-buttons>

  <ion-buttons end  (click)="ProfileBtn()">
          <button ion-button icon-only>
                      <img class="img-profile" src="assets/imgs/menuicons/profiles.png">
          </button>
  </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content padding> 
      <ion-grid no-padding no-margin class="gridcl">
              <div style="margin-top: 10px;"> 
              <ion-searchbar no-padding no-margin placeholder="Search for service" class="custom-search" [(ngModel)]="myInput" [showCancelButton]="true"  (ionInput)="getItems($event)"  no-shadow no-border>
              </ion-searchbar>
              </div>  
<div style="background: #fff; border: 1px solid #d7d7d7;border-radius: 6px;margin-top: 25px;" >

<div *ngIf="surveyForm"> 
    <form [formGroup]="surveyForm">
        <div formArrayName="answers">
<div  *ngFor="let question of answers; let i = index" [formGroupName]="i">
          <ng-container>
            <div formArrayName="answer_by_user">
              <div *ngFor="let choice of question.answers; let j = index" >
                <ion-row no-padding no-margin *ngIf="choice.id !=0">
                        <ion-col col-2 style="max-width: 11%;" no-padding no-margin> 
                    <ion-item no-padding no-margin> <ion-checkbox no-padding no-margin (ionChange)="onChange(choice.id, $event.checked, i)" value="choice.id"></ion-checkbox> </ion-item>
                        </ion-col>  
                        <ion-col col-9 no-padding no-margin> <p no-margin no-padding class="p-1">{{ choice.id }}</p> </ion-col>
                        <ion-col col-1 text-right no-padding no-margin> <img class="img-arrowdown" src="assets/icon/arrow-forward.png"> </ion-col>
                </ion-row> 
              </div>
            </div>
          </ng-container>
</div>

</div>  
</form>
</div> 


</div>  

</ion-grid>                   
</ion-content> 

<ion-footer> 
  <button ion-button  class="btn-inviteuser" (click)="SearchBtn()" > SEARCH </button>   
</ion-footer>

