page-searchservice {
    ion-title {
        color: #191A45;
    }
    .toolbar-background-md {
        border-color: #ffffff;
        background: #ffffff;
    }

    .toolbar-title-md{
        font-size: 14px;
        font-family: "PoppinsMedium"; 
    }
    .content-md {
        color: #191A45;
        background-color: #f9fbfc;
    }
    
    .img-menu{
        margin-left: 15px;
    }
    .img-chat{
        margin-right: 13.18px;
    }
    .img-profile{
        margin-right: 15px; 
    }

    .bar-button-md{
        margin:0px !important;
        padding: 0px !important;  
    }
    ion-buttons{
        margin:0px !important;
        padding: 0px !important;  
    }
    .gridcl
    {
        padding-left: 15px !important;
        padding-right: 15px !important;
        padding-top: 12px !important;
        padding-bottom: 0px !important;
    }
.custom-search{
    border: 1px solid #d7d7d7;
}

    .scroll-content {
        padding-left: 0px !important;
        padding-right: 0px !important;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }

    .searchbar-md .searchbar-input
    {
        font-size: 14px;
        color: #191A45;
    }
    .searchbar-md .searchbar-search-icon
    {
        left: 91% !important;
    }
    .searchbar-md .searchbar-input{
        padding: 6px 16px;
    }
    .ion-md-arrow-back{
        display: none; 
    }
    .searchbar-input {
        border: 0 !important;
        box-shadow: none !important;
        border: 1px solid #d7d7d7;
    }



    .p-1{
        margin-top: 14px;
        color:#46476A;
        font-size: 14px;
        font-family: 'SourceSansProRegular';
    }

    .img-arrowdown{
        margin-top: 16px;
        margin-right: -10px;
    }
    .btn-inviteuser{ 
        margin-top: 25px;
        width: 50%;
        font-family: "PoppinsSemibold"; 
        margin-left: 16px;
        margin-bottom: 10px;
        margin-top: 12px;
    }

    p{
        font-family: "SourceSansProSemibold";  
    }

    .searchbar-input-container{
        .searchbar-input{
          &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: #46476A;
            font-family: "SourceSansProRegular";
            font-size: 14px;
          }
          &::-moz-placeholder { /* Firefox 19+ */
            color: #46476A;
            font-family: "SourceSansProRegular";
            font-size: 14px;
          }
          &:-ms-input-placeholder { /* IE 10+ */
            color: #46476A;
            font-family: "SourceSansProRegular";
            font-size: 14px;
          }
          &:-moz-placeholder { /* Firefox 18- */
            color: #46476A;
            font-family: "SourceSansProRegular";
            font-size: 14px;
          }
        }
        .searchbar-clear-icon{
          filter: invert(100);
        }
    }
      .searchbar-md .searchbar-search-icon{
        background-image:url("../assets/imgs/menuicons/Path99.png"); 
      }

      .button-md {
        box-shadow:none;
        -webkit-box-shadow:none;
      }
      .checkbox-md .checkbox-icon {
        width: 14px;
        height: 14px;
        border-width: 1px;
        border-color: #289AFB;
        margin-left: 13px;
      }
}
