page-registermain {
    ion-title {
        color: #191A45;
    }
    .toolbar-background-md {
        border-color: #ffffff;
        background: #ffffff;
    }

    .toolbar-title-md{
        margin-left: -22px;
        font-size: 14px;
        font-family: "PoppinsMedium";
    }
    .content-md {
        color: #191A45;
        background-color: #f9fbfc;
    }
  
    .img-menu{
        margin-left: 15px;
    }
    .img-chat{
        margin-right: 12px;
    }
    .img-profile{
        margin-right: 15px; 
    }

    .gridcl
    {  
        padding-left: 15px !important;
        padding-right: 15px !important;
        padding-top: 12px !important;
        padding-bottom: 5px !important;
    }
    .scroll-content {
        padding-left: 0px !important;
        padding-right: 0px !important;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }
    .p-f16
    {
        font-size: 16px;
        color: #191A45;
        font-family: "SourceSansProRegular";  
    }

    .p-f16-bottom  
    {
        font-size: 16px;
        color: #191A45;
        font-family: "SourceSansProRegular";
    }

    .col-12-tittle{ 
        color: #191A45;
        font-size: 16px;
        font-family: "SourceSansProSemibold";
    }

    .item-md
    {
        border: 1px solid #D7D7D7 !important;
         padding-left: 0px !important; 
        color: #46476A;
        background-color: #fff;
        font-size: 14px !important;
    }
    
    .row-mtop{
        margin-top: 15px; 
    }

    .button-md{
        background-color: #2699FB;
        width: 50%;
        border-radius: 3px !important;
    }

    .div-text-user {
        border-radius: 6px;
        border: 1px solid #d7d7d7;
    }
    .button-md{  
        font-family: "PoppinsSemibold";
    }

    .div-footer{
        border-top: 1px solid #e7e6e6;
        margin-top: 58px;
         background: #fff;
        font-family: "SourceSansProSemibold";
    }
    .a-tittle{ 
        color: #2699FB;
        text-decoration: none;
    }  
    .headertext{
        margin-left: 16px;
        margin-top: 22px;
        margin-bottom: 18px;
        color: #191A45;
        font-size: 16px;
        font-family: "SourceSansProSemibold";
    }
    .contestext{ 
        color: #46476A;
        font-family: "SourceSansProRegular";
        font-size: 12px;
        margin-left: 16px;
        margin-bottom: 4px;
    }
}
