page-offer-single {

    .img-menu{
        margin-left: 15px;
    }
    .img-chat{
        margin-right: 12px;
    }
    .img-profile{
        margin-right: 15px; 
    }
       
    ion-title { 
        color: #191A45;
    }
    .toolbar-background-md {
        border-color: #ffffff;
        background: #ffffff;
    }

    .toolbar-title-md{
        font-size: 14px;
        font-family: "PoppinsMedium";
    }
    .content-md {
        color: #191A45;
        background-color: #f9fbfc;
    }
    .gridcl
    {
        padding-left: 14px !important;
        padding-right: 14px !important;
        padding-top: 12px !important;
        padding-bottom: 5px !important;
    }
    .scroll-content {
        padding-left: 0px !important;
        padding-right: 0px !important;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }


    .text-color
    { 
        font-size: 18px;
        color: #191A45;
        font-weight: 900;
        margin-bottom: 12px;
        margin-top: 5px;   
        font-family: "PoppinsSemibold";
    }

    .card-md p {
        font-family: "SourceSansProSemibold";
    }
   
    .text-color1
    {
        font-size: 14px;
        color: #191A45;
        font-weight: 900;
        margin-top: 15px;
        margin-bottom: 7px;
        font-family: "PoppinsSemibold"; 
    }
    .card-style
    {
        border: 1px solid #D7D7D7;
        box-shadow: none;
        border-radius: 5px;
        width:100%;
    }
    .profile-style
    {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .img-style{
        height: 100px;
        width: 100px;
        border-radius: 50%; 
    }
    .detail-style
    {
        text-align: center; 
        margin-bottom: 11px;
    }
    .p-tag
    {
        font-size: 16px;
        color: #2699FB;
        font-weight: 900;
        font-family: "SourceSansProBold";
    }
    .p-sub{
        font-size: 12px;
        margin-top: -5px;
        font-family: "SourceSansProRegular";
    }
    .pad
    {
        padding: 15px;
    }
    .button-md {
        box-shadow:none;
        -webkit-box-shadow:none;
      }

      .plus-style2{
        margin-top: -57px;
        margin-left: 164px;
      z-index: 2;
      width: 22%;
      }

}
