page-providertap {
    ion-title {
        color: #191A45;
    }
    .toolbar-background-md {
        border-color: #ffffff;
        background: #ffffff;
    }

    .toolbar-title-md{
      //  margin-left: 45px !important;
        font-size: 14px;
        font-family: "PoppinsMedium"; 
    }
    .content-md {
        color: #191A45;
        background-color: #f9fbfc;
    }
    .contenttittle
    {
        font-size: 18px;
 
        color: #191A45;
        margin-top: 7px;
        font-family: "PoppinsMedium";
    }
    .contenttittle1{
        font-size: 14px;
        color: #191A45;
        font-family: "PoppinsSemiBold";
    }
    .contenttittle2{ 
        font-size: 15px;
        color: #2699FB;
        font-family: SourceSansProSemibold;
        text-decoration: underline;
    }

    .btn-seedetails{
        height: 26px !important;
        border-radius: 26px !important;
        font-size: 12px !important;
        font-family: "SourceSansProSemibold";
        width: 60%;
    }
    .gridcl
    {
        padding-left: 15px !important;
        padding-right: 15px !important;
        padding-top: 12px !important;
        padding-bottom: 0px !important;
    }

.div-box-outer {
    display: block;
    width: 100%;
    padding-top: 10px;
}
.div-box-inner{
    display: inline-block; width: 31%; float: left; text-align: center; border: 1px solid #d7d7d7; height: 73px;background: #fff;
    font-family: "SourceSansProSemibold";
    border-radius: 5px;
}

.div-box-center{
    display: inline-block;width: 3.5%;height: 73px;float: left;text-align: left;
}

.custom-search{
    border: 1px solid #3096F7;
}




    .scroll-content {
        padding-left: 0px !important;
        padding-right: 0px !important;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }

    .searchbar-md .searchbar-input
    {
        font-size: 14px;
        color: #191A45;
    }
    .searchbar-md .searchbar-search-icon
    {
        left: 91% !important;
    }
    .searchbar-md .searchbar-input{
        padding: 6px 16px;
    }
    .ion-md-arrow-back{
        display: none; 
    }
    .searchbar-input {
        border: 0 !important;
        box-shadow: none !important;
        border: 1px solid #d7d7d7;
    }

    .input-has-focus .search-has-focus{
        border: 1px solid #3096F7;
    }
    input[type=search]:focus {
        border: 1px solid #3096F7;
    }

    .p-1{
    
        color:#46476A;
        font-size: 13px;
        font-family: 'SourceSansProRegular';
    }
    .p-2{
        margin-top: 6px;
        color:#3096F7;    
        font-size: 17px;
        font-family: "SourceSansProSemibold";
    }
 

    .img-style
    {
    border-radius: 50px;
    height: 47px;
    width: 47px;
    margin-left: 10px;
    margin-top: 4px;
    }
    .img-arrowdown{
        margin-top: 27px;
        margin-left: 16px;
        margin-right: 15px;
    }

    .img-menu{
        margin-left: 15px;
    }
    .img-chat{
        margin-right: 12px;
    }
    .img-profile{
        margin-right: 15px; 
    }

    .ionrows{  
        margin-top: 30px;  
    }


    .div-footer{
        background: #FFFFFF;
        border-top: 1px solid #e7e6e6;
    }

    .a-tittle{  
        color: #2699FB;
        text-decoration: underline;
    } 

    .button-outline-md{
        border-color: #bce0fd;
        color: #2699FB;
        font-family: "PoppinsSemibold";
    }
 
    .btn-inviteuser{ 
        font-family: "PoppinsSemibold"; 
    }
    .p-footer{
        font-size: 12px;
        font-family: "SourceSansProSemibold";
    }

    p{
        font-family: "SourceSansProSemibold";  
    }

    .searchbar-input-container{
        .searchbar-input{
          &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: #191A45;
            font-family: "SourceSansProRegular";
            font-size: 14px;
          }
          &::-moz-placeholder { /* Firefox 19+ */
            color: #191A45;
            font-family: "SourceSansProRegular";
            font-size: 14px;
          }
          &:-ms-input-placeholder { /* IE 10+ */
            color: #191A45;
            font-family: "SourceSansProRegular";
            font-size: 14px;
          }
          &:-moz-placeholder { /* Firefox 18- */
            color: #191A45;
            font-family: "SourceSansProRegular";
            font-size: 14px;
          }
        }
        .searchbar-clear-icon{
          filter: invert(100);
        }
    }
      .searchbar-md .searchbar-search-icon{
        background-image:url("../assets/imgs/menuicons/Path99.png"); 
      }


      .col12-img{
        width: 86%;
        float: left;
        display: inline-block;
        font-family: "SourceSansProRegular";
    color: #46476A;
    font-size: 12px;
      }
      .subrows-tittle{
        width: 14%;
        float: left;
        font-family: "SourceSansProBold";
        color: #46476A;
        font-size: 12px;
      }
      .button-clear-md {   
        color: #3096F7;
        font-family: "SourceSansProSemibold";  
        font-size: 14px !important;
      }
      .subrows-tittle1{
        width: 12%;
        float: left;
        font-family: "SourceSansProBold";
        color: #46476A;
        font-size: 12px;
      }
      .col12-img1{
        width: 88%;
        display: inline-block;
        float: left;
        font-family: "SourceSansProRegular";
        color: #46476A;
        font-size: 12px;
      }
      .button-md {
        box-shadow:none;
        -webkit-box-shadow:none;
      }
      .ionrows1{
        margin-bottom: 99px;
        margin-top: 15px;
      }

      .p-inviteone
      {
        margin-top: 11px;
        color:#2699FB;
        text-decoration: underline;
        font-size: 12px;
        font-family: "SourceSansProSemibold";  
      }

      .bkopacity 
      {
        opacity: 0.2;
       
      }
      .bkopacity-without{

      }   
      .gridopacity{  
        background-color: rgba(0,0,0,.4);
        padding-left: 15px !important;
        padding-right: 15px !important;
        padding-top: 12px !important;
        padding-bottom: 0px !important;
      }
      .fullline-src{
          background: #d7d7d7;
          height: 1px;
      }
      .p-src2 
      { 
        margin-top: 6px;
        color: #3096F7;
        font-size: 17px;
        font-family: "SourceSansProSemibold";
      }
      .p-src1{
        color: #46476A;
        font-size: 13px;
        font-family: 'SourceSansProRegular';
      }
      .p-src3{
        
        margin-top: 6px;
        color: #46476A;
        font-size: 17px;
        font-family: "SourceSansProSemibold";
      }
      .p-src4{
        color: #9091A6;
        font-size: 13px;
        font-family: 'SourceSansProRegular';
    }


    .item-block{
        min-height: 4.2rem;
        height: 4.2rem;
        }
        .item-md p{
        font-size:1.8rem ! important;
        }
        
   
}
