<!--
  Generated template for the OfficeequipmentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-header no-shadow no-border>
                <ion-navbar hideBackButton="true">  
                                <ion-buttons left menuToggle="left" style="display: block !important;">  
                  <button ion-button icon-only>
                              <img class="img-menu" src="assets/imgs/menuicons/Menu.png"> 
                  </button>
                </ion-buttons>

    <ion-title text-center>Provider Search</ion-title>     

    <ion-buttons end> 
          <button ion-button icon-only>
            <img  class="img-chat" src="assets/imgs/menuicons/chat.png">
          </button>
  </ion-buttons>

  <ion-buttons end (click)="ProfileBtn()">
          <button ion-button icon-only>
                      <img class="img-profile" src="assets/imgs/menuicons/profiles.png">
          </button>
  </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content padding>   
      <ion-grid no-padding no-margin >

              <ion-row class="gridcl" style="    margin-top: 8px;"> 
                  <ion-col col-6 no-padding no-margin class="contenttittle" (click)="FilterBtn()">Add filters</ion-col>

                  <ion-col col-6 no-padding no-margin text-right>  
                      <p class="p-footer" no-padding no-margin>Sort by: <a class="a-tittle" (click)="SortByData()">{{ SortTxt }} </a></p> 
                  </ion-col>
              </ion-row>
              
              <div class="fulllines"></div>
              <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom"  style="display:none;">  
                <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
                </agm-map> 


              <ion-row  *ngIf="SortTxtval=='distance'">  <ion-col col-12 text-left class="contenttittle1">Near you</ion-col>  </ion-row>

<div class="padleftright">


       <ion-row style="background: #fff; border: 1px solid #d7d7d7;margin-top: 6.5px;border-radius: 6px;margin-bottom: 10.85px;" *ngFor="let result of FilterListArr;let i =index">
                <ion-col col-3 style=" max-width: 19%;">
                 <img class="img-style" src="{{ ImageUrl+result.image }}">

                 <div class="plus-style2" > 
                                <img  src="assets/imgs/inviteagent/Group694.png" *ngIf="result.badge==1">
      <img  src="assets/imgs/profile/Group694.png" *ngIf="result.badge==2">
      <img  src="assets/imgs/profile/Group695.png" *ngIf="result.badge==3">
      <img  src="assets/imgs/profile/Group696.png" *ngIf="result.badge==4">  
                       </div>
                 <!-- <br> 
                         <div>
                           <span style="font-size: 12px;margin-left: 15px;">{{ result.stats.avg_score.toFixed(1) }}</span>    
                            <img src="assets/icon/yellow_star.png" style="height: 11px;">
                        </div>  -->
                </ion-col>
                <ion-col col-8> 
                 <p no-margin no-padding class="p-2">{{ result.name+" "+result.lastname }}</p>
                 <p no-margin no-padding class="p-1">{{ result.providing.services }}</p> 
                </ion-col>  
    
                <ion-col col-1 text-right >   
                                <img class="img-arrowdown" src="assets/icon/arrow-down.png" id="arrowdowns_{{i}}" (click)="OpenCloseArrow1( result.email,result.phone,result.website,result.address,i,result.providing.profession,result._id,result.image)">     
                                <img class="img-arrowdown" src="assets/icon/arrow-up.png"  id="arrowups_{{i}}"  style="display:none;" (click)="OpenCloseArrow1( result.email,result.phone,result.website,result.address,i,result.providing.profession,result._id,result.image)">        
                        </ion-col> 
 

                        <div id="y_{{i}}" style="display:none;" >  
                                <ion-col col-12  >
                                   <ion-row style="padding-left: 10px;">
                                           <!-- <ion-col col-12> 
                                                   <div style="width:100%;">  
                                                        <div class="subrows-tittle">Shared Connections: </div>
                                                        <div class="col12-img"> 
                                                                <img src="assets/imgs/menuicons/profile.png">
                                                                <img src="assets/imgs/menuicons/profile.png">
                                                                <img src="assets/imgs/menuicons/profile.png">
                                                        </div>  
                                                   </div>  
                                        </ion-col> --> 
                            
                                        <ion-col col-12>  
                                                        <div style="width:100%;">
                                                <div class="subrows-tittle1">Email:</div> 
                                                <div class="col12-img1">{{ ProviderEmail1 }}</div>  
                                                </div>
                                         </ion-col>
                                        <ion-col col-12> 
                                                        <div style="width:100%;">
                                                   <div class="subrows-tittle1">Phone:</div>
                                                   <div class="col12-img1">    {{ ProviderPhone1 }} </div>  
                                                   </div> 
                                        </ion-col>

                                        
                                        <ion-col col-12> 
                                                        <div style="width:100%;">
                                                   <div class="subrows-tittle1">Rating:</div>
                                                   <div class="col12-img1">  {{ result.stats.avg_score.toFixed(1)  }}* ( {{ result.stats.reviews  }} reviews ) </div>  
                                                   </div> 
                                        </ion-col>

                                        <ion-col col-12> 
                                                        <div style="width:100%;">
                                                   <div class="subrows-tittle1">Website:</div>
                                                   <div class="col12-img1">    {{ result.website }} </div>  
                                                   </div> 
                                        </ion-col>

                                        <ion-col col-12> 
                                                        <div style="width:100%;">
                                                   <div class="subrows-tittle1">Address:</div>
                                                   <div class="col12-img1">    {{ result.address }} </div>   
                                                   </div> 
                                        </ion-col>

                                           <ion-col col-4> 
                                             <button ion-button icon-start clear small no-padding no-margin  (click)="PublishBtn1()">  <div>PUBLISH</div> </button>
                                           </ion-col>
                                           <ion-col col-4 style="padding-left: 25px;">
                                                <button ion-button icon-start clear small no-padding no-margin> <div>CHAT</div> </button>
                                           </ion-col>
                                           <ion-col col-4 text-center>
                                        <button ion-button icon-start clear small no-padding no-margin (click)="SeeDetails1(i)"> <div>SEE DETAILS</div> </button>  
                                           </ion-col>
                                   </ion-row>     
                                
                                </ion-col>
                                </div> 



         </ion-row> 

</div>
          
<div class="fulllines" *ngIf="SortTxtval=='distance'" ></div>  

<ion-row class="ionrows1 padleftright" *ngIf="SortTxtval=='distance'"  > <ion-col col-12 text-left class="contenttittle2">Under 10KM</ion-col> </ion-row>

<div class="padleftright">

                <ion-row style="background: #fff; border: 1px solid #d7d7d7;margin-top: 6.5px;border-radius: 6px;margin-bottom: 10.85px;" *ngFor="let result of FilterListArr1;let i =index">  
                                <ion-col col-3 style=" max-width: 19%;">
                                 <img class="img-style" src="{{ ImageUrl+result.image }}">
                                  
                        <div class="plus-style2" >  
                      <img  src="assets/imgs/inviteagent/Group694.png" *ngIf="result.badge==1">
                      <img  src="assets/imgs/profile/Group694.png" *ngIf="result.badge==2">
                      <img  src="assets/imgs/profile/Group695.png" *ngIf="result.badge==3">
                      <img  src="assets/imgs/profile/Group696.png" *ngIf="result.badge==4">  
                        </div>

                                 <!-- <br> 
                                         <div>
                                           <span style="font-size: 12px;margin-left: 15px;">{{ result.stats.avg_score.toFixed(1) }}</span>    
                                            <img src="assets/icon/yellow_star.png" style="height: 11px;">
                                        </div>  -->
                                </ion-col>
                                <ion-col col-8> 
                                 <p no-margin no-padding class="p-2">{{ result.name+" "+result.lastname }}</p>
                                 <p no-margin no-padding class="p-1">{{ result.providing.services }}</p> 
                                </ion-col>

                                <ion-col col-1 text-right (click)="OpenCloseArrow( result.email,result.phone,result.website,result.address,i,result.providing.profession,result._id,result.image)"> 
                                        <img class="img-arrowdown" src="assets/icon/arrow-down.png" id="arrowdown_{{i}}">   
                                        <img class="img-arrowdown" src="assets/icon/arrow-up.png" style="display: none;"  id="arrowup_{{i}}"> 
                                </ion-col>


                                <div id="x_{{i}}" style="display: none;" > 
                                        <ion-col col-12  >
                                           <ion-row style="padding-left: 10px;">

                                                   <!-- <ion-col col-12> 
                                                           <div style="width:100%;">  
                                                                <div class="subrows-tittle">Shared Connections: </div>
                                                                <div class="col12-img"> 
                                                                        <img src="assets/imgs/menuicons/profile.png">
                                                                        <img src="assets/imgs/menuicons/profile.png">
                                                                        <img src="assets/imgs/menuicons/profile.png">
                                                                </div>  
                                                           </div>  
                                                </ion-col> -->
                                    
                                                <ion-col col-12> 
                                                                <div style="width:100%;">
                                                        <div class="subrows-tittle1">Email:</div> 
                                                        <div class="col12-img1">{{ ProviderEmail }}</div>  
                                                        </div>
                                                 </ion-col>
                                                <ion-col col-12> 
                                                                <div style="width:100%;">
                                                           <div class="subrows-tittle1">Phone:</div>
                                                           <div class="col12-img1">    {{ ProviderPhone }} </div>  
                                                           </div> 
                                                </ion-col>

                                                <ion-col col-12> 
                                                                <div style="width:100%;">
                                                           <div class="subrows-tittle1">Rating:</div>
                                                           <div class="col12-img1">  {{ result.stats.avg_score.toFixed(1) }}* ( {{ result.stats.reviews  }} reviews ) </div>  
                                                           </div> 
                                                </ion-col>

                                                <ion-col col-12> 
                                                                <div style="width:100%;">
                                                           <div class="subrows-tittle1">Website:</div>
                                                           <div class="col12-img1">    {{ result.website }} </div>  
                                                           </div> 
                                                </ion-col>

                                                <ion-col col-12> 
                                                                <div style="width:100%;">
                                                           <div class="subrows-tittle1">Address:</div>
                                                           <div class="col12-img1">    {{ result.address }} </div>   
                                                           </div> 
                                                </ion-col>


                                                   <ion-col col-4> 
                                                     <button ion-button icon-start clear small no-padding no-margin  (click)="PublishBtn()">  <div>PUBLISH</div> </button>
                                                   </ion-col>
                                                   <ion-col col-4 style="padding-left: 25px;">
                                                        <button ion-button icon-start clear small no-padding no-margin> <div>CHAT</div> </button>
                                                   </ion-col>
                                                   <ion-col col-4 text-center>
                                                <button ion-button icon-start clear small no-padding no-margin (click)="SeeDetails(i)"> <div>SEE DETAILS</div> </button>
                                                   </ion-col>
                                           </ion-row>     
                                        
                                        </ion-col>
                                        </div>  
                         </ion-row>   
       
                         <ion-infinite-scroll (ionInfinite)="doInfinite($event,SortTxtval)"> 
                                        <ion-infinite-scroll-content
                                          loadingSpinner="bubbles"
                                          loadingText="Loading more data...">
                                        </ion-infinite-scroll-content>
                                      </ion-infinite-scroll>
   

     <ion-row no-padding no-margin style="margin-top: 50px;" margin-bottom>    
        <ion-col col-12 no-padding no-margin>
        <p class="p-footer" no-padding no-margin>Not finding your friends? 
                <a class="a-tittle" (click)="InviteUserBtn()" style="    margin-left: 5px;">  Invite them! </a> 
        </p>
        </ion-col>  
     </ion-row>

</div>


      </ion-grid>
  
</ion-content>

