page-myconnectionexp {

    ion-title {
        color: #191A45;
    }
    .toolbar-background-md {
        border-color: #ffffff;
        background: #ffffff;
    }

    .toolbar-title-md{
        font-size: 14px;
        font-family: "PoppinsMedium"; 
    }
    .content-md {
        color: #191A45;
        background-color: #f9fbfc;
    }

    .text-box
    {
        padding: 3px;
        margin-top: 16px;
    }
        .portdolio-image
    {
        display: flex;
    }
    
    .heading
    {
        margin-left: 12px;
        color: #1C1D32;
        margin-left: 1px;
        font-weight:100;
        font-family: " SourceSansProRegular"; 
    }
    
        .text-p
     {
        text-align: right;
        width: 100%;
        font-size: #46476A;
        color: #46476A;
        font-size: 14px;
        font-family: "SourceSansProRegular";
     }
        .small-profile1
      {
        height: 16px;
        margin-left: 14px;
      }
        .profile-small
       {
           margin-left:3px;
           margin-right:3px;  
           height: 20px;
           width:20px;
           border-radius:50%;
       }
        .service-style
        {
            display:flex; 
            margin-top: 12px;
        }
       .heading
       {
           font-weight:700; 
           font-size: 16px;
       }
       
        .icon-style
        {
            margin-right: 5px;
            font-size: 1.2em;
            margin-top: 3px
        }
    
        .list-top {
            margin-top: -19px;
        }
        .list-detail
        {
            height:40px;
            padding: 13px;
            display: flex;
        }
        .detail-box
        {
          
            
        }
    .img-profile1
    {
        width: 80px;
        border-radius: 50%;
        height: 80px;
    }
    .img-box
    {
        height: 19%;
        justify-content: center;
        text-align: center;
        justify-content: center;
        display: flex;
    }
    .img-star
    {
        height: 15px;
        width: 15px;
        margin-left: 5px;
    }
    .img-box
    {
        display: flex;
        justify-content: center;
        margin-top: 7px;
    }
    ion-card {
        box-shadow: none !important;
    border: 1px solid #D7D7D7;
    }
    
    .img-star1
    {
        height: 55px;
        width: 55px;
        margin-left: 22%; 
    }
    .cross-box
    { 
       display:block;
       width:100%;  
       height:85px;  
       text-align:center ;
       margin-top: 17px;
    }
    .cross-box-circle
    {
        display: inline-block;
        width:32.5%;
        height:85px ;
    }
    .text-genre
    {
        text-transform: uppercase;
        color: #2699FB;
        margin-top: 5px;
        font-size: 15px;
        font-family: "SourceSansProSemibold";
    }
    .content-md {
        color: #000;
        background-color: #F9FBFC;
    }
    .div-left{
        width:32%;
        float:left;
    }
    .div-center{
        width:48%;
        float:left;
        display:flex;
    }
    .div-right{
       width:20%;
       float:left;
       text-align:right
    }
    .p-count{
    border-radius: 50%;
    border: 1px solid #3096F7;
    font-size: 13px;
    text-indent: 1px;
    }
}
